#dash-board-wrapper
{

    display:block;
    border:0px solid #eee;
    overflow:hidden;   
    margin:0 auto;
    width:100%;

}

﻿


#dash-board-wrapper #profile_wrapper
{
    position:relative;
    display:block;
    overflow:hidden;   
    margin:0px;
    padding:5px;  
    width:35%;    
    border:0px solid #eee;
    padding:5px;   
    min-height:200px;


}

#dash-board-wrapper  .dash-board
{

    position:relative;
    border: 1px solid #eee;    

    clear:none;  
    overflow: hidden;

}

#dash-board-wrapper  .dash-board legend
{
    padding:5px;
    overflow: hidden;
}



table th,table tr th{
    text-align:center;
}


.page .agent-form
{

    border:1px solid #000;
}