
html,body{
    font-family: Verdana, Geneva, sans-serif;

}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin:0;
    padding:0; 


}

#main-body-wrapper
{
    min-height  :10px;
    box-shadow:0px 0px 3px #7d7777;    
    padding:0;
    width:80%;
    margin :10px auto;
    overflow:hidden;
    z-index:2;


}
.navbar-inverse
{
    background-color:#fff;  
    border:0;
    margin:0;
    padding:0;
}
.page-header
{
    margin:0;
    padding:0;
    background-color:#eee;
    border-bottom:1px solid #AAA;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    z-index:-1;
    margin-top:30px;

}


.container-fluid
{


}


.container .page-header{  

    margin:0;
    min-height:100px;

}

.navbar-brand img
{
    width:55px;
    height:50px;
}

.navbar-nav
{
    margin:20px auto;
}
.navbar-nav .dropdown-menu
{
    box-shadow: 0px 0px 3px #AAA;
    border:0px;

}




.content-wrapper
{
    position:relative;
    margin-top:10px ;
    border:0px solid #000;
    overflow: hidden;
}


#footer-wrapper
{
    border-top:1px solid #AAA;
    overflow:hidden;
    background-color: #eee;
}
.copyright{
    font-size:10px;
    padding:5px;

}

table{
    margin:2px;
    padding:1px;
}

table tr td, table tr th{
    font-size:10px;
}