#login-form{
    width:350px;    
    position:relative;

}
#login-form .form
{
    box-shadow: 0px 0px 0px #000;
    border-radius:inherit;
}
#login-form .form fieldset
{
    border:0px solid #000;
}

#login-form .form .note-wrapper
{
    text-align:center;
}

